.no-touchevents {
  div.field.shares div {
    display: inline;
  }

  table td.share_person {
    padding-left: 20px;
  }
  table td.share_share {
    padding-left: 10px;
    padding-right: 20px;
  }
}
